body{
    background-image: url('https://images.unsplash.com/photo-1577055723931-68faa56cc99a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
    /* background-color: blue; */
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    
}